.sprudelform {
    margin: 0px auto;
    width: 400px;
    max-width: 100%;
}
.sprudelform li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.sprudelform label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
}
.sprudelform input[type=text],
.sprudelform input[type=date],
.sprudelform input[type=datetime],
.sprudelform input[type=number],
.sprudelform input[type=search],
.sprudelform input[type=time],
.sprudelform input[type=url],
.sprudelform input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none; 
}
.sprudelform .field-divided{
    width: 49%;
}
.sprudelform .field-long{
    width: 100%;
}
.sprudelform .field-select{
    width: 100%;
}
.sprudelform .field-textarea{
    height: 100px;
}
.sprudelform input[type=submit], .sprudelform input[type=button]{
    background: #363636;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    cursor: pointer;
}
.sprudelform .required{
    color: #cb4335;
}