/* GLOBAL CSS CUSTOM PROPERTIES */

:root {
    --col-background-light: #fff;
    --col-background-dark: #363636;
    --col-background-dark-hover: #565656;
    --col-font-light: #fff;
    --col-font-dark: #363636;
    --col-decorative: #229954;
    --col-reaction-positive: #229954;
    --col-reaction-neutral: #888;
    --col-reaction-negative: #cb4335;
    --poll-table-gutters: 2px;
    --border-radius-big: 6px;
    --border-radius-small: 3px;
}


/* GENERAL */

* {
    transition: .2s;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--col-background-light);
    color: var(--col-font-dark);
    font-size: 100%;
    font-family: sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 140%;
    margin-bottom: 10px;
}

h2 {
    font-size: 120%;
}

a:link {
    color: var(--col-decorative);
    text-decoration: underline dotted;
}
a:visited {
    color: var(--col-decorative);
    text-decoration: underline dotted;
}
a:hover {
    color: var(--col-decorative);
    text-decoration: underline dotted;
}
a:active {
    color: var(--col-decorative);
    text-decoration: underline dotted;
}


/* TO BE CATEGORIZED AND SORTED */

textarea {
    font-family: sans-serif;
    font-size: 80%;
}

div.noscript{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--col-background-dark);
    z-index: 9999;
    color: var(--col-font-light);
    font-size: 200%;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.4);
    text-align: center;
}

#header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;
    background-color: var(--col-background-dark);
    color: var(--col-font-light);
    overflow: hidden;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

    border-bottom: 5px solid var(--col-decorative);
}

#logo {
    height: 64px;
    padding: 20px;
    margin-right: 20px;
}

#logo a, #logo img {
    height: 100%;
}

p.details {
    font-size: 90%;
    max-width: 768px;
}

#urlInfo{
    word-wrap: break-word;
    font-size: 100%;
    color: var(--col-reaction-neutral);
    vertical-align: middle;
}

#admin-url {
    color: var(--col-reaction-negative);
    font-size: 80%;
    font-weight: bold;
}

#btnCopy{
    cursor: pointer;
    margin-right: 10px;
    vertical-align: middle;
}

#btnDeletePoll{
    cursor: pointer;
    margin-right: 25px;
}

#footer{
    text-align: center;
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 80%;
    color: #666;
    border-top: solid 1px #ccc;
}

#poll-controls {
    text-align: right;
    margin-bottom: 2rem;
}

table.schedule {
    border-collapse: separate;
    border: none;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

table.schedule.mini {
    font-size: 60%;
}

table.schedule tr {
    height: 16px;
}

table.schedule.mini tr {
    height: 8px;
}

table.schedule td {
    border: var(--poll-table-gutters) solid var(--col-background-light);
    padding: 4px;
    line-height: 0;
    color: var(--col-font-light);
    min-width: 24px;
}

table.schedule.mini td {
    padding: 0px;
    min-width: 16px;
}

tr.valign-middle td{
    vertical-align: middle;
}


/* POLL HEADER (DATES, OPTIONS, ...) */

td.schedule-header {
    background-color: var(--col-background-dark);
    width: 24px;
    vertical-align: bottom;
    text-align: center;
    border-top-left-radius: var(--border-radius-big);
    border-top-right-radius: var(--border-radius-big);
}

table.schedule.mini td.schedule-header {
    width: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
}

td.schedule-header > div {
    display: inline-block;
    overflow: hidden;
    width: 1.5em;
    text-align: center;
}

td.schedule-header > div > div {
    display: inline-block;
    white-space: nowrap;
    /* this is for shity "non IE" browsers
       that dosn't support writing-mode */
    -webkit-transform: translate(0.75em,0) rotate(90deg);
       -moz-transform: translate(0.75em,0) rotate(90deg);
         -o-transform: translate(0.75em,0) rotate(90deg);
            transform: translate(0.75em,0) rotate(90deg);
    -webkit-transform-origin: 0 0;
       -moz-transform-origin: 0 0;
         -o-transform-origin: 0 0;
            transform-origin: 0 0;
   /* IE9+ */
   -ms-transform: none;
   -ms-transform-origin: none;
   /* IE8+ */
   -ms-writing-mode: tb-rl;
   /* IE7 and below */
   *writing-mode: tb-rl;
    text-align: center;
}

td.schedule-header > div > div:before {
    content: "";
    float: left;
    margin-top: 100%;
}


/* POLL ENTRY NAMES */

td.schedule-names {
    text-align: right;
    background-color: var(--col-background-dark);
    border-top-left-radius: var(--border-radius-big);
    border-bottom-left-radius: var(--border-radius-big);
}

td.schedule-name-input {
    background-color: var(--col-background-dark);
    border-top-left-radius: var(--border-radius-big);
    border-bottom-left-radius: var(--border-radius-big);
}

table.schedule.mini tr.schedule-results {
    font-size: 100%;
}

tr.schedule-results td.top {
    background-color: var(--col-reaction-positive);
}

td.schedule-delete{
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: var(--col-background-dark) url(../img/icon-delete.png) no-repeat;
    background-position: center center;
    border-top-right-radius: var(--border-radius-big);
    border-bottom-right-radius: var(--border-radius-big);
}

table.schedule.mini td.schedule-delete {
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-size: 12px;
}

td.schedule-delete:hover {
    background-color: var(--col-background-dark-hover);
}

td.schedule-submit {
    background-color: var(--col-background-dark);
    height: 24px;
    transition: .2s;
    border-top-right-radius: var(--border-radius-big);
    border-bottom-right-radius: var(--border-radius-big);
}

td.schedule-submit:hover {
    background-color: var(--col-background-dark-hover);
}

td.schedule-entry {
    width: 24px;
    height: 24px;
    padding: 0px;
}

table.schedule.mini td.schedule-entry {
    width: 16px;
    height: 16px;
    background-image: none !important;
}

td.schedule-entry-yes {
    background: var(--col-reaction-positive) url(../img/icon-yes.png) no-repeat;
    background-position: center center;
}

td.schedule-entry-no {
    background: var(--col-reaction-negative) url(../img/icon-no.png) no-repeat;
    background-position: center center;
}

td.schedule-entry-maybe {
    background: var(--col-reaction-neutral) url(../img/icon-maybe.png) no-repeat;
    background-position: center center;
}

td.schedule-blank {
    background-color: var(--col-background-light);
}

.schedule input[type=checkbox]{
    margin-left: 3px;
    vertical-align: -3px;
}

.schedule input[type=submit].save {
    font-size: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: auto;
    height: 100%;
    line-height: .5;
    transition: .2s;
    border-top-right-radius: var(--border-radius-big);
    border-bottom-right-radius: var(--border-radius-big);
}

.schedule input[type=submit].delete {
    background:url(../img/icon-delete.png) no-repeat;
    background-position: center center;
    background-origin: content-box;
    cursor:pointer;
    width: 24px;
    height: 24px;
}

.schedule input[type=text]{
    font-size: inherit;
    max-width: 200px;
    min-width: 150px;
    height: 20px;
    margin: 0;
    text-align: right;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.schedule.mini input[type=text]{
    max-width: 100px;
    min-width: 50px;
}

.centerBox{
    width: 90%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.content-right{
    text-align: right;
}

.content-centered{
    text-align: center;
}

.btnFormDate {
    cursor: pointer;
    margin-right: 5px;
}

#btnDate{
    margin-left: 16px;
}

.success{
    color: var(--col-reaction-positive);
}

.fail{
    color: var(--col-reaction-negative);
}

.results-cell {
    padding: 0;
}

.r {
    height: 24px;
    padding-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    width: 100%;
    color: var(--col-font-light);
}

.schedule.mini .r {
    height: 16px;
}

.r-legend {
    text-align: right;
}

.r-yes {
    color: var(--col-reaction-positive);
}

.r-maybe {
    color: var(--col-reaction-neutral);
}

.r-no {
    color: var(--col-reaction-negative);
}

.comment-container{
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--col-font-dark);
    font-size: 90%;
    border-bottom: dotted 1px #ccc;
}

.comment-name{
    font-weight: bold;
}

.comment-date{
    float: right;
    color: #666;
}

.comment-text{
    margin-top: 8px;
    line-height: 110%;
}

tr.schedule-new td.new-entry-choice {
    cursor:pointer;
}

tr.schedule-new td.new-entry-choice-yes{
    background: var(--col-reaction-positive) url(../img/icon-yes.png) no-repeat center center;
}

tr.schedule-new td.new-entry-choice-maybe{
    background: var(--col-reaction-neutral) url(../img/icon-maybe.png) no-repeat center center;
}

tr.schedule-new td.new-entry-choice-no{
    background: var(--col-reaction-negative) url(../img/icon-no.png) no-repeat center center;
}

tr.table-spacer-row {
    padding: 0;
    margin: 0;
    border: 12px solid var(--col-background-light);
}


/* FORM CSS */

.form {
    margin: 0px auto;
    width: 400px;
    max-width: 100%;
}

li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
}

input[type=text],
input[type=date],
input[type=datetime],
input[type=number],
input[type=search],
input[type=time],
input[type=url],
input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #bebebe;
    padding: 7px;
    margin:0px;
    border-radius: var(--border-radius-small);
    outline: none; 
}

.field-divided{
    width: 49%;
}

.field-long{
    width: 100%;
}

.field-select{
    width: 100%;
}

.field-textarea{
    height: 100px;
}

input[type=submit],
input[type=button],
button[type=submit],
button[type=button]{
    background: var(--col-background-dark);
    padding: 8px 15px 8px 15px;
    border: none;
    color: var(--col-font-light);
    cursor: pointer;
    border-radius: var(--border-radius-small);
}

input[type=submit]:hover,
input[type=button]:hover,
button[type=submit]:hover,
button[type=button]:hover{
    background-color: var(--col-background-dark-hover);
}

.required{
    color: #cb4335;
}